openapi: 3.0.0
info:
  description: |-
    ## Introduction

    The Griffin API is based on [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).
    It has resource-oriented URLs, accepts [JSON](https://www.json.org/json-en.html)-encoded request bodies, returns [JSON](https://www.json.org/json-en.html)-encoded responses, and uses standard HTTP response verbs and response codes.

    Our API deviates from strict RESTful principles if it makes sense to do so, such as when we enforce tighter access controls around certain operations.
    For example, when closing a bank account: rather than send a PATCH request to the [bank account](http://docs.griffin.com) resource to update it's status to `"closed"`, we provide a dedicated account closure resource.

    Anyone can [create an account](https://app.griffin.com/register) with Griffin and try out out API in [sandbox mode](http://docs.griffin.com).

    New to Griffin? Check out our [getting started guide](http://docs.griffin.com).

    ## Navigation

    Our API is designed to be navigated programmatically. When you request any resource, you will find the URLs for related resources in the response body.

    The API is structured as a tree with your [organization](http://docs.griffin.com) at the top. Everything that you own will be a sub-resource of your organization.

    To bootstrap the navigation process, request the [index](http://docs.griffin.com) endpoint: the response will contain your `organization-url`.

    For a walkthrough, see our [getting started guide](http://docs.griffin.com).

    ## Pagination

    Our list APIs support pagination (e.g. [list bank accounts](http://docs.griffin.com) and [list payments](http://docs.griffin.com)).
    By default, a list API returns up to 25 results. If there are more results available, the response payload will include links to the previous/next pages.

    ### Change page size

    You can request a different number of results (between 1 and 200, inclusive) by using the `page[size]` query parameter:

    ```
    GET /v0/organizations/:id/bank/accounts?page[size]=100
    ```

    ### Navigating between pages

    List responses will include a `links` object with `prev` and `next` attributes, as shown below.
    Perform a GET request to the value of the attribute to fetch the previous/next page of results.

    ```
    {
      "accounts": [
        // ...
      ],
      "links": {
        "prev": "/v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts?page[before]=djE6WxSPxfYUTnCU9XtWzj9gGA",
        "next": "/v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts?page[after]=djE6aw79PXZySUOL16LD8HRJ3A"
      }
    }

    ```
    If there is no previous or next page available, the value of the attribute will be  null.

    Any other query parameters included in the initial request will also be included in the response payload's links.
    If you want to change parameters (see [filtering and sorting](http://docs.griffin.com)), request the first page and follow the links from there.

    ## Filtering and sorting

    ### Sort results

    By default, resources will be listed in descending order, usually based on the `created-at` attribute.
    You can change the sorting behaviour of a list of results by using the `sort` query parameter.

    For example, to list bank accounts in ascending order (oldest first):

    ```
    GET /v0/organizations/:id/bank/accounts?sort=created-at
    ```

    To _explicitly_ sort in descending order (newest first), prefix the sort attribute with `-`:

    ```
    GET /v0/organizations/:id/bank/accounts?sort=-created-at
    ```

    ### Filter results

    Some list APIs allow you to filter the results.
    Filters are expressed as nested data structures encoded into query parameters.
    For example, you can list bank accounts that are in either the `opening` or `open` state with:

    ```
    GET /v0/organizations/:id/bank/accounts?filter[account-status][in][]=opening&filter[account-status][in][]=open
    ```

    Similarly, you can list legal persons with a specific `application-status`:

    ```
    GET /v0/organizations/:id/legal-persons?filter[application-status][eq]=accepted
    ```

    ### Include resources

    Some list APIs allow you to include associated resources in the response, reducing the number of requests needed to fetch related data.
    For instance, when listing bank accounts, you can include each bank account's beneficiary legal person by using the `include` query parameter:

    ```
    GET /v0/organizations/:id/bank/accounts?include=beneficiary
    ```

    The response returns the usual list of bank accounts, but it will also have an `included` object with a `legal-persons` attribute:

    ```
    {
      "accounts": [
        // ...
      ],
      "links": {
        // ...
      }
      "included": {
        "legal-persons": [
          // ...
        ]
      }
    }
    ```

    Check the documentation for each list API to see all options for sorting and filtering

    ## Versioning

    The Griffin API is versioned via a prefix in the URL.
    The current version is v0.
    An example endpoint is: https://api.griffin.com/v0/index.

    We will not break your integration with a particular version for as long as we support that version.
    If we release a new version, you will have 12 months to upgrade to it.
  title: The Griffin API
  version: ""
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://api.griffin.com
security:
- api-key-auth: []
tags:
- description: "A payment captures the intent to move funds from a bank account to\
    \ another party's bank account. Outbound payments can be made from your [bank\
    \ account](http://docs.griffin.com) to a [payee](http://docs.griffin.com). Griffin\
    \ accepts inbound payments to your bank accounts on your behalf. \n If it's your\
    \ first time using our payments API, check out our guide for [making a payment](http://docs.griffin.com)"
  name: Payments
- name: Webhooks
- description: |
    Bank accounts are used for managing funds. You can open different types of bank account using the `"bank-product-type"` field. Some account types are for managing your own funds and some are for managing your customers' funds. For information, check out our guides for opening bank accounts:
      - [open an operational account](http://docs.griffin.com).
      - [open a safeguarding account](http://docs.griffin.com).
      - [open a client money account](http://docs.griffin.com).
  name: Bank accounts
- description: |-
    The `api-key-secret` field is only shown once when you create an API key.
    We cannot recover the value, so you should store it securely.

    Pass an `Authorization` header with `GriffinAPIKey api-key-secret` to authenticate.

    Each API key is only valid for one [organization](http://docs.griffin.com).
    If you are a [member](http://docs.griffin.com) of multiple organizations, you will need to create a new API key for each one.
    There is currently no limit on the number of API keys you can create.
  name: API keys
- description: |-
    In the Griffin API, your organization and your customers are all represented by [legal persons](http://docs.griffin.com). When you sign up with Griffin, your organization will be automatically assigned a unique legal person ID. When onboarding your customers, you will create legal persons to represent them.

    Every legal person has a `legal-person-type` with the value: `individual` or `corporation`.

    An `individual` represents an individual human.

    A `corporation` represents any non-human entity (not just companies). A corporation should have at least one [director](http://docs.griffin.com) or [person with significant control](http://docs.griffin.com) attached to it, who must also be represented as a distinct `individual` legal person.
  name: Legal persons
- description: "A payee is the person or business to whom you are paying money. When\
    \ you create a payee, you need to provide their name (`\"account-holder\"`), and\
    \ their bank account number (`\"account-number\"`) and sort code (`\"bank-id\"\
    `)."
  name: Payees
- description: |-
    Memberships represents the relationship between a [user](http://docs.griffin.com) and an [organization](http://docs.griffin.com).
                                            A membership must have at least one [role](http://docs.griffin.com) assigned to it.
  name: Memberships
- description: "A role represents a pre-defined set of capabilities that can be assigned\
    \ to a [user](http://docs.griffin.com) via their [membership](http://docs.griffin.com)\
    \ in an [organization](http://docs.griffin.com). By default, the first user in\
    \ an organization gets assigned an administration role. Subsequent users get assigned\
    \ the most limited set of capabilities."
  name: Roles
- name: Verifications
- description: "A [claim](http://docs.griffin.com) is an unverified data point or\
    \ series of data points attached to a [legal person](http://docs.griffin.com).\
    \ Claims are verified by running a [verification](http://docs.griffin.com) against\
    \ the legal person."
  name: Claims
- description: "A [workflow](http://docs.griffin.com) determines which checks will\
    \ be run against a [legal person](http://docs.griffin.com) as part of a [verification](http://docs.griffin.com)"
  name: Workflows
- description: "Reliance onboarding allows you to create and submit an application\
    \ on behalf of your customer, using information about them you have already collected.\
    \ [For more information see our reliance onboarding guide](http://docs.griffin.com)."
  name: Reliance onboarding
- description: |-
    The transaction resource represents any form of activity in a bank account that results in a change to the account’s balance. Transactions can be categorised by their type (`balance-change-origin-type`). Here are some common types of bank transactions:
     1. **Payment**: Sending funds to, or receiving funds from, another bank account.
     2. **Fee**: Charges applied to the bank account by Griffin.
     3. **Interest**: An amount charged on borrowed money, or paid to the account holder on deposited funds.
  name: Transactions
- name: Pooled account membership
- name: Events
- name: Decisions
- description: |-
    The organization resource represents your company and acts as a container for the majority of other resources, including [legal persons](http://docs.griffin.com) and [bank accounts](http://docs.griffin.com).
    When you register for an account with Griffin, a new [organization](http://docs.griffin.com) is created alongside your [user](http://docs.griffin.com) account (unless you have received an [invitation](http://docs.griffin.com) to join an existing organization).
    Your [user](http://docs.griffin.com) account is associated with an [organization](http://docs.griffin.com) via a [membership](http://docs.griffin.com).

    Your [organization](http://docs.griffin.com) can be in one of two modes:
    - `test-mode` for organizations created when you sign up for the sandbox.
    - `live-mode` for when you go live with Griffin.

    Learn more about [sandbox vs. live mode](http://docs.griffin.com).
  name: Organizations
- description: "Users represent individuals who use the Griffin platform. A user must\
    \ have a [membership](http://docs.griffin.com) in at least one [organization](http://docs.griffin.com),\
    \ and may have memberships in multiple organizations."
  name: Users
- description: |-
    Invitations enable [users](http://docs.griffin.com) to create new [memberships](http://docs.griffin.com) for their [organization](http://docs.griffin.com).
    The new membership is only created once when the invitation is accepted.

    If the `email-address` provided is linked to an existing user, the invitation will create a membership for that user.
    This does not affect any other memberships the user may have.

    If the `email-address` is not linked to an existing user, the invitee will be prompted to set up a Griffin account when they accept the invitation.

    When a new membership is created, the invited user is assigned the [role](http://docs.griffin.com) with the most limited set of capabilities by default.
  name: Invitations
- name: Navigation
- name: Connectivity
- name: Companies House
- name: Legal person history
- name: Getting started
- name: Customer verifications
paths:
  /v0/index:
    get:
      description: Contains various global URL paths. Follow `api-key-url` to discover
        your `organization-url`.
      operationId: Navigation_globalPathsFetch
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NavigationGlobalPathsFetchResponse'
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
      summary: Index
      tags:
      - Navigation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-index
      x-accepts: application/json
  /v0/ping:
    get:
      description: Check your connection to the Griffin API.
      operationId: Connectivity_checkConnection
      responses:
        "204":
          description: No content
      security: []
      summary: Ping
      tags:
      - Connectivity
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-ping
      x-accepts: application/json
  /v0/admissions/{admission-id}:
    get:
      description: Yields an admission.
      operationId: Payments_getAdmission
      parameters:
      - explode: false
        in: path
        name: admission-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsGetAdmissionResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: ""
        "404":
          description: ""
      summary: Get payment admission
      tags:
      - Payments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-admissions-admission-id
      x-accepts: application/json
  /v0/api-keys/{api-key-id}:
    delete:
      description: Deletes the API Key. This operation cannot be undone.
      operationId: ApiKeys_removeApiKey
      parameters:
      - explode: false
        in: path
        name: api-key-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: Delete API key
      tags:
      - API keys
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v0-api-keys-api-key-id
      x-accepts: application/json
    get:
      description: Returns the API key without `api-key-secret`.
      operationId: ApiKeys_getKeyDetails
      parameters:
      - explode: false
        in: path
        name: api-key-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeysGetKeyDetailsResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: Get API key
      tags:
      - API keys
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-api-keys-api-key-id
      x-accepts: application/json
  /v0/bank/accounts/{bank-account-id}:
    get:
      description: Fetch a bank account
      operationId: BankAccounts_getAccount
      parameters:
      - explode: false
        in: path
        name: bank-account-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountsGetAccountResponse'
          description: ""
          headers:
            Location:
              description: The URL of the bank account
              explode: false
              schema:
                type: string
              style: simple
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: Get bank account
      tags:
      - Bank accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-bank-accounts-bank-account-id
      x-accepts: application/json
    patch:
      description: Update a bank account
      operationId: BankAccounts_updateBankAccount
      parameters:
      - explode: false
        in: path
        name: bank-account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountsUpdateBankAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountsUpdateBankAccountResponse'
          description: ""
          headers:
            Location:
              description: The URL of the bank account
              explode: false
              schema:
                type: string
              style: simple
        "400":
          description: Responds with bad-request if the body does not conform to the
            schema.
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      tags:
      - Bank accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v0-bank-accounts-bank-account-id
      x-content-type: application/json
      x-accepts: application/json
  /v0/bank/accounts/{bank-account-id}/actions/close:
    post:
      description: Close a bank account
      operationId: BankAccounts_closeAccount
      parameters:
      - explode: false
        in: path
        name: bank-account-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountsCloseAccountResponse'
          description: ""
          headers:
            Location:
              description: The URL of the bank account
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
        "422":
          description: "An error occurred when trying to close the bank account. See\
            \ [https://docs.griffin.com/docs/errors/account-close](https://docs.griffin.com/docs/errors/account-close)\
            \ for details."
      tags:
      - Bank accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v0-bank-accounts-bank-account-id-actions-close
      x-accepts: application/json
  /v0/bank/accounts/{bank-account-id}/admissions:
    get:
      description: Lists admissions targeting a bank account
      operationId: Payments_listBankAccountAdmissions
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - created-at
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: Return only resources with a created-at less than or equal to
          the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at less than the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][lt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at greater than or equal
          to the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at greater than the given
          timestamp.
        explode: true
        in: query
        name: "filter[created-at][gt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: false
        in: query
        name: "filter[admission-status][in]"
        required: false
        schema:
          items:
            description: Specifies the progress of the inbound payment.
            enum:
            - processing
            - returned
            - delivered
            title: admission-status
            type: string
          type: array
        style: form
        x-allOf:
        - {}
        - {}
      - explode: false
        in: path
        name: bank-account-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsListBankAccountAdmissionsResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: List bank account admissions
      tags:
      - Payments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-bank-accounts-bank-account-id-admissions
      x-accepts: application/json
  /v0/bank/accounts/{bank-account-id}/membership:
    get:
      description: List legal persons in a pooled account membership
      operationId: PooledAccountMembership_listLegalPersons
      parameters:
      - description: "For each member returned, include its legal person details,\
          \ latest verification (if one exists), and/or latest risk rating (if one\
          \ exists) in the response under the `included` attribute."
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - latest-risk-rating
            - legal-person
            - latest-verification
            title: ""
            type: string
          type: array
        style: form
        x-allOf:
        - {}
        - {}
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - explode: false
        in: path
        name: bank-account-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PooledAccountMembershipListLegalPersonsResponse'
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: ""
        "404":
          description: ""
      summary: List legal person in a pooled account membership
      tags:
      - Pooled account membership
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-bank-accounts-bank-account-id-membership
      x-accepts: application/json
  /v0/bank/accounts/{bank-account-id}/membership-updates:
    post:
      description: Add and update the legal persons in a pooled account membership.
        Limited to 2000 legal persons per operation.
      operationId: PooledAccountMembership_manageLegalPersons
      parameters:
      - explode: false
        in: path
        name: bank-account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PooledAccountMembershipManageLegalPersonsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PooledAccountMembershipManageLegalPersonsResponse'
          description: ""
        "400":
          description: Responds with bad-request if the body does not conform to the
            schema.
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: ""
        "404":
          description: ""
        "422":
          description: ""
      summary: Manage pooled account members
      tags:
      - Pooled account membership
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v0-bank-accounts-bank-account-id-membership-updates
      x-content-type: application/json
      x-accepts: application/json
  /v0/bank/accounts/{bank-account-id}/payments:
    get:
      description: Lists payments made from a bank account.
      operationId: Payments_getBankAccountPayments
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - created-at
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: Return only resources with a created-at less than or equal to
          the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at less than the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][lt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at greater than or equal
          to the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at greater than the given
          timestamp.
        explode: true
        in: query
        name: "filter[created-at][gt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: false
        in: path
        name: bank-account-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsGetBankAccountPaymentsResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
      summary: List bank account payments
      tags:
      - Payments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-bank-accounts-bank-account-id-payments
      x-accepts: application/json
    post:
      description: Registers a new payment request for the bank account
      operationId: Payments_createRequest
      parameters:
      - explode: false
        in: path
        name: bank-account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsCreateRequestRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsCreateRequestResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
        "422":
          description: "An error occurred when trying to create the payment. See [https://docs.griffin.com/docs/errors/payment](https://docs.griffin.com/docs/errors/payment)\
            \ for details."
        "500":
          description: ""
      summary: Create payment
      tags:
      - Payments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v0-bank-accounts-bank-account-id-payments
      x-content-type: application/json
      x-accepts: application/json
  /v0/bank/accounts/{bank-account-id}/submissions:
    get:
      description: Lists submissions originating from a bank account
      operationId: Payments_listSubmissions
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - created-at
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: ""
        explode: false
        in: query
        name: "filter[submission-status][in]"
        required: false
        schema:
          items:
            description: Specifies the progress of the outbound payment.
            enum:
            - failed
            - processing
            - returned
            - delivered
            title: submission-status
            type: string
          type: array
        style: form
        x-allOf:
        - {}
        - {}
      - description: Return only resources with a created-at less than or equal to
          the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at less than the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][lt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at greater than or equal
          to the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at greater than the given
          timestamp.
        explode: true
        in: query
        name: "filter[created-at][gt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: false
        in: path
        name: bank-account-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsListSubmissionsResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: List bank account submissions
      tags:
      - Payments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-bank-accounts-bank-account-id-submissions
      x-accepts: application/json
  /v0/bank/accounts/{bank-account-id}/transactions:
    get:
      description: Lists balance changes on a bank account.
      operationId: Transactions_listBalanceChanges
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - created-at
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: "For each transaction returned, include its payment (if one exists)\
          \ in the response under the `included` attribute."
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - payment
          type: string
        style: form
      - description: Return only resources with a created-at less than or equal to
          the given timestamp.
        explode: true
        in: query
        name: "filter[post-datetime][lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at less than the given timestamp.
        explode: true
        in: query
        name: "filter[post-datetime][lt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at greater than or equal
          to the given timestamp.
        explode: true
        in: query
        name: "filter[post-datetime][gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only resources with a created-at greater than the given
          timestamp.
        explode: true
        in: query
        name: "filter[post-datetime][gt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: false
        in: path
        name: bank-account-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsListBalanceChangesResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: List transactions
      tags:
      - Transactions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-bank-accounts-bank-account-id-transactions
      x-accepts: application/json
  /v0/bank/transactions/{transaction-id}:
    get:
      description: Yields a bank account transaction
      operationId: Transactions_getTransactionById
      parameters:
      - explode: false
        in: path
        name: transaction-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsGetTransactionByIdResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: Get transaction
      tags:
      - Transactions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-bank-transactions-transaction-id
      x-accepts: application/json
  /v0/companies-house/companies/{company-number}:
    get:
      description: "Lookup Companies House company by company number. Includes information\
        \ about the company, its directors, and persons with significant control."
      operationId: CompaniesHouse_getCompanyDetails
      parameters:
      - description: UK Companies House company number
        example: "10842931"
        explode: false
        in: path
        name: company-number
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
        x-konfig-original-example: "10842931"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesHouseGetCompanyDetailsResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
        "500":
          description: ""
        "502":
          description: ""
      summary: Lookup company
      tags:
      - Companies House
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-companies-house-companies-company-number
      x-accepts: application/json
  /v0/events/{event-id}:
    get:
      description: Get an event
      operationId: Events_getEvent
      parameters:
      - explode: false
        in: path
        name: event-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsGetEventResponse'
          description: Fetch an event
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - Events
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-events-event-id
      x-accepts: application/json
  /v0/legal-persons/{legal-person-id}:
    get:
      description: Yields the legal-person.
      operationId: LegalPersons_getLegalPerson
      parameters:
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalPersonsGetLegalPersonResponse'
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: Get legal person
      tags:
      - Legal persons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-legal-persons-legal-person-id
      x-accepts: application/json
    put:
      description: Updates the legal-person.
      operationId: LegalPersons_updateLegalPerson
      parameters:
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalPersonsUpdateLegalPersonRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalPersonsUpdateLegalPersonResponse'
          description: ""
          headers:
            Location:
              description: The location of the updated legal-person of type individual
              explode: false
              schema:
                type: string
              style: simple
        "400":
          description: Responds with bad-request if the body does not conform to the
            schema.
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
        "422":
          description: ""
      summary: Update legal person
      tags:
      - Legal persons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v0-legal-persons-legal-person-id
      x-content-type: application/json
      x-accepts: application/json
  /v0/legal-persons/{legal-person-id}/bank/payees:
    get:
      description: Lists payees belonging to the legal person.
      operationId: Payees_listLegalPersonPayees
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - created-at
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayeesListLegalPersonPayeesResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
      summary: List legal person payees
      tags:
      - Payees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-legal-persons-legal-person-id-bank-payees
      x-accepts: application/json
    post:
      description: Registers a new payee for the customer
      operationId: Payees_registerNewPayee
      parameters:
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayeesRegisterNewPayeeRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayeesRegisterNewPayeeResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: Create payee
      tags:
      - Payees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v0-legal-persons-legal-person-id-bank-payees
      x-content-type: application/json
      x-accepts: application/json
  /v0/legal-persons/{legal-person-id}/claims:
    get:
      description: Yields a list of all current claims about this Legal Person.
      operationId: Claims_getAllClaims
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - created-at
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimsGetAllClaimsResponse'
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: List claims
      tags:
      - Claims
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-legal-persons-legal-person-id-claims
      x-accepts: application/json
    post:
      description: Creates a new claim about a Legal Person.
      operationId: Claims_createNewClaim
      parameters:
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimsCreateNewClaimRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimsCreateNewClaimResponse'
          description: ""
        "400":
          description: Responds with bad-request if the body does not conform to the
            schema.
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          description: ""
      summary: Create claim
      tags:
      - Claims
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v0-legal-persons-legal-person-id-claims
      x-content-type: application/json
      x-accepts: application/json
  /v0/legal-persons/{legal-person-id}/decisions:
    get:
      description: Lists all decisions for the given legal-person.
      operationId: Decisions_listForLegalPerson
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - created-at
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionsListForLegalPersonResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
      summary: List decisions
      tags:
      - Decisions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-legal-persons-legal-person-id-decisions
      x-accepts: application/json
    post:
      description: |-
        Creates a decision against the legal person.

        The provided verification must have a `verification-status` of `checks-complete`, otherwise a 422 is served.

        When a decision is successfully created, the legal person's `application-status` is updated accordingly.

        Multiple decisions may be made against the same legal person.
      operationId: Decisions_createDecision
      parameters:
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionsCreateDecisionRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionsCreateDecisionResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          description: ""
        "404":
          description: ""
        "422":
          description: ""
        "500":
          description: ""
        "503":
          description: ""
      summary: Create decision
      tags:
      - Decisions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v0-legal-persons-legal-person-id-decisions
      x-content-type: application/json
      x-accepts: application/json
  /v0/legal-persons/{legal-person-id}/history:
    get:
      description: Lists history of events for the given legal person.
      operationId: LegalPersonHistory_listEvents
      parameters:
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalPersonHistoryListEventsResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      tags:
      - Legal person history
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-legal-persons-legal-person-id-history
      x-accepts: application/json
  /v0/legal-persons/{legal-person-id}/verifications:
    get:
      description: List verifications for the given legal person.
      operationId: Verifications_listForLegalPerson
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - created-at
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationsListForLegalPersonResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
      summary: List verifications for a legal person
      tags:
      - Verifications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-legal-persons-legal-person-id-verifications
      x-accepts: application/json
    post:
      description: |-
        Initiates verification of the subject legal person.

        The request body must include a `workflow-url` to determine checks to be
        performed by the verification. The workflow specified determines which claims
        must exist for the subject legal person, as identified in the request URL, and any
        associated legal persons (i.e. directors and people with significant control of a
        corporation).

        These claims can be found in the `required-claim-types` field on a [Workflow](http://docs.griffin.com).

        ---

        Once a verification is created, the system will perform checks on the claim details.
        The status of check processing is indicated by the `verification-status` in the response body.
        Initially it will be `pending`, and will transition through `in-progress` to a final status of `checks-complete`.

        A `verification-status` of `failed` indicates something went wrong during check processing.
        You can initiate another verification to retry the check processing.
      operationId: Verifications_initiateVerification
      parameters:
      - explode: false
        in: path
        name: legal-person-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationsInitiateVerificationRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationsInitiateVerificationResponse'
          description: The created verification
          headers:
            Location:
              description: The URL of the verification
              explode: false
              schema:
                type: string
              style: simple
        "400":
          description: "Bad Request: specific error details will be provided, if available"
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: "Not Found: An associated legal person or workflow does not\
            \ exist"
        "409":
          description: "Conflict: An existing verification is in-flight"
        "422":
          description: "Unprocessable Entity: specific error details will be provided,\
            \ if available"
        "500":
          description: "Internal Server Error: please contact support@griffin.com"
        "502":
          description: "Bad Gateway: An error occurred with an external service integration"
      summary: Perform verification of a legal person
      tags:
      - Verifications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v0-legal-persons-legal-person-id-verifications
      x-content-type: application/json
      x-accepts: application/json
  /v0/memberships/{membership-id}:
    delete:
      description: "Removes a [user](http://docs.griffin.com) from an [organization](http://docs.griffin.com)."
      operationId: Memberships_removeMember
      parameters:
      - explode: false
        in: path
        name: membership-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: Delete membership
      tags:
      - Memberships
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v0-memberships-membership-id
      x-accepts: application/json
    get:
      description: "Returns the [user's](http://docs.griffin.com) [membership](http://docs.griffin.com)\
        \ information."
      operationId: Memberships_getMembershipInfo
      parameters:
      - explode: false
        in: path
        name: membership-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipsGetMembershipInfoResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: Get membership
      tags:
      - Memberships
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-memberships-membership-id
      x-accepts: application/json
  /v0/memberships/{membership-id}/roles:
    get:
      description: "Returns the [roles](http://docs.griffin.com) assigned to this\
        \ [membership](http://docs.griffin.com)."
      operationId: Roles_getMembershipRoles
      parameters:
      - explode: false
        in: path
        name: membership-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesGetMembershipRolesResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
      summary: List membership roles
      tags:
      - Roles
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-memberships-membership-id-roles
      x-accepts: application/json
    put:
      description: |-
        Assigns [roles](http://docs.griffin.com) to the [membership](http://docs.griffin.com).

        A 422 is served if you provide a role that is not in the [Organisations](http://docs.griffin.com) `"available-roles"`.
      operationId: Roles_assignMembershipRoles
      parameters:
      - explode: false
        in: path
        name: membership-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolesAssignMembershipRolesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesAssignMembershipRolesResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
        "422":
          description: ""
      summary: Update role
      tags:
      - Roles
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v0-memberships-membership-id-roles
      x-content-type: application/json
      x-accepts: application/json
  /v0/onboarding/applications/{onboarding-application-id}:
    get:
      description: Fetch an onboarding application.
      operationId: RelianceOnboarding_getApplication
      parameters:
      - explode: false
        in: path
        name: onboarding-application-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelianceOnboardingGetApplicationResponse'
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: Get onboarding application
      tags:
      - Reliance onboarding
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-onboarding-applications-onboarding-application-id
      x-accepts: application/json
  /v0/organizations/{organization-id}:
    get:
      description: Yields the organization details
      operationId: Organizations_getDetails
      parameters:
      - explode: false
        in: path
        name: organization-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetDetailsResponse'
          description: ""
          headers:
            Location:
              description: The URL of the organization
              explode: false
              schema:
                type: string
              style: simple
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: Get organization
      tags:
      - Organizations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-organizations-organization-id
      x-accepts: application/json
  /v0/organizations/{organization-id}/api-keys:
    get:
      description: List all active API keys in your organization.
      operationId: ApiKeys_listActiveKeys
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - created-at
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - explode: false
        in: path
        name: organization-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeysListActiveKeysResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
      summary: List API keys
      tags:
      - API keys
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-organizations-organization-id-api-keys
      x-accepts: application/json
    post:
      description: Create a new API key. This is the only time `api-key-secret` is
        shown.
      operationId: ApiKeys_createKey
      parameters:
      - explode: false
        in: path
        name: organization-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeysCreateKeyRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeysCreateKeyResponse'
          description: ""
          headers:
            Location:
              description: The URL of the created API key
              explode: false
              schema:
                type: string
              style: simple
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
        "409":
          description: ""
      summary: Create API Key
      tags:
      - API keys
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v0-organizations-organization-id-api-keys
      x-content-type: application/json
      x-accepts: application/json
  /v0/organizations/{organization-id}/bank/accounts:
    get:
      description: Yields a list of all bank accounts under the control of this Organization.
      operationId: BankAccounts_list
      parameters:
      - description: "Link to the [legal person](http://docs.griffin.com) that represents\
          \ the [beneficiary](http://docs.griffin.com) of the account."
        example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
        explode: true
        in: query
        name: "filter[beneficiary][eq]"
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
      - description: "Link to the [legal person](http://docs.griffin.com) that represents\
          \ the [owner](http://docs.griffin.com) of the account."
        example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
        explode: true
        in: query
        name: "filter[owner][eq]"
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: "For each bank account returned, include its owner and/or beneficiary\
          \ in the response under the `included.legal-persons` attribute."
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - beneficiary
            - owner
            title: account-party
            type: string
          type: array
        style: form
        x-allOf:
        - {}
        - {}
      - description: ""
        explode: false
        in: query
        name: "filter[account-status][in][]"
        required: false
        schema:
          items:
            description: Shows the status of the account. An account can be moved
              between statuses during its lifecycle. The status value affects the
              operations that you can perform. An account must be `"open"` to be fully
              operational.
            enum:
            - closing
            - open
            - closed
            - opening
            title: account-status
            type: string
          type: array
        style: form
        x-allOf:
        - {}
        - {}
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - display-name
          - created-at
          - -display-name
          type: string
        style: form
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: Specifies whether the bank account has restrictions applied by
          Griffin.
        explode: true
        in: query
        name: "filter[account-restricted][in][]"
        required: false
        schema:
          type: boolean
        style: form
      - description: Specifies whether the bank account holds funds belonging to multiple
          beneficiaries.
        explode: true
        in: query
        name: "filter[pooled-funds][eq]"
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: false
        in: query
        name: "filter[bank-product-type][in][]"
        required: false
        schema:
          items:
            description: "Specifies the type of bank account. (For more detail on\
              \ bank account types, see our guide for [creating a bank account](http://docs.griffin.com).)"
            enum:
            - savings-account
            - client-money-account
            - safeguarding-account
            - operational-account
            title: bank-product-type
            type: string
          type: array
        style: form
        x-allOf:
        - {}
        - {}
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - explode: false
        in: path
        name: organization-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountsListResponse'
          description: ""
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
      summary: List bank accounts
      tags:
      - Bank accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-organizations-organization-id-bank-accounts
      x-accepts: application/json
    post:
      description: Open a new bank account
      operationId: BankAccounts_createNewAccount
      parameters:
      - explode: false
        in: path
        name: organization-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountsCreateNewAccountRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountsCreateNewAccountResponse'
          description: ""
          headers:
            Location:
              description: The URL of the created bank account
              explode: false
              schema:
                type: string
              style: simple
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
        "422":
          description: ""
      summary: Open bank account
      tags:
      - Bank accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v0-organizations-organization-id-bank-accounts
      x-content-type: application/json
      x-accepts: application/json
  /v0/organizations/{organization-id}/events:
    get:
      description: List all events for an organization
      operationId: Events_getAllOrganizationEvents
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -created-at
          - created-at
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
        x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[before]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: A base64 encoded opaque string returned in paginated responses.
        example: djE6NL0DfDTSUk67KJKCi-L5Zg
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          format: byte
          type: string
        style: form
        x-konfig-original-example: djE6NL0DfDTSUk67KJKCi-L5Zg
      - description: "The type of webhook event. Usually has the form {resource}-{operation},\
          \ e.g. payment-updated"
        explode: true
        in: query
        name: "filter[event-type][eq]"
        required: false
        schema:
          enum:
          - decision-created
          - payment-created
          - transaction-created
          - verification-updated
          - admission-updated
          - verification-created
          - account-status-updated
          - submission-created
          - test-event
          - admission-created
          - account-status-created
          - submission-updated
          type: string
        style: form
      - description: Return only events with a created-at less than or equal to the
          given timestamp.
        explode: true
        in: query
        name: "filter[created-at][lte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only events with a created-at less than the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][lt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only events with a created-at greater than or equal to
          the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][gte]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return only events with a created-at greater than the given timestamp.
        explode: true
        in: query
        name: "filter[created-at][gt]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: false
        in: path
        name: organization-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsGetAllOrganizationEventsResponse'
          description: Fetch all organization events
        "400":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - Events
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v0-organizations-organization-id-events
      x-accepts: application/json
  /v0/organizations/{organization-id}/invitations:
    post:
      description: |-
        `POST` creates a new invitation to the organization.

        Sends an email invitation to join the `organization` to the specified `email-address`.
      operationId: Invitations_sendEmail
      parameters:
      - explode: false
        in: path
        name: organization-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationsSendEmailRequest'
        required: true
      responses:
        "201":
          description: ""
        "401":
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is
                found.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: ""
        "409":
          description: ""
        "422":
          description: ""
      summary: Create invitation
      tags:
      - Invitations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v0-organizations-organization-id-invitations
      x-content-type: application/json
      x-accepts: application/json
  /v0/organizations/{organization-id}/legal-persons:
    get:
      description: "Returns a paginated list of all legal persons for the given organization.\n\
        \nBy default, results are sorted descending by `created-at` (newest first).\
        \ To sort ascending by `created-at`, provide a `?sort=created-at` query parameter. "
      operationId: LegalPersons_listLegalPersons
      parameters:
      - description: ""
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -status-changed-at
          - status-changed-at
          - -created-at
          - created-at
          type: string
        style: form
      - description: "For each legal person returned, include its latest verification\
          \ (if one exists), and/or its latest risk rating (if one exists) in the\
          \ response under the `included` attribute."
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - latest-risk-rating
            - latest-verification
            title: ""
            type: string
          type: array
        style: form
        x-allOf:
        - {}
        - {}
      - description: Return only legal persons with the given application-status.
        explode: true
        in: query
        name: "filter[application-status][eq]"
        required: false
        schema:
          enum:
          - referred
          - errored
          - declined
          - submitted
          - accepted
          type: string
        style: form
      - description: Return only legal persons with the given attributes.
        explode: false
        in: query
        name: "filter[has][]"
        required: false
        schema:
          items:
            enum:
            - application-status
            title: ""
            type: string
[...]
